html {
    box-sizing: border-box;
    font-family: "Raleway";
    font-size: 10px;
}

body {
    font-family: "Raleway";
    font-size: 1.6rem;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.accomodation {
    background-color: lightgray;
    width: 67%;
    margin-right: 50px;
    border-radius: 10px;
    padding: 15px;
    
}

.popular {
    background-color: lightgray;
    min-width: 600px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 15px;
}

h1  {
    background-color: aquamarine;
    border: 10px solid black;
    max-width: 960px;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.nav-item {
    margin: 10px;
}

img {
    width: 100px;
    height: 50px;
}


.popular .hotel img {
    vertical-align: middle;
    width: 150px;
    height: 200px;
    border-radius: 30px 0 0 30px;
    
}

.hotel img {
    width: 100%;
    height: 120px;
    border-radius: 30px 30px 0 0;
    padding: 0;
}

.search_wrapper {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 15px;
    
  
}

.search_field {
    border-style: none;
    padding: 10px;
    border-radius: 15px 0 0 15px;

}

.search-btn {
    font-size: 15px;
    border-style: none;
    background-color: blue;
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 11px;
    margin: 0;

    
}

main .first-half {
    display: flex;
}




.hotel {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-width: 370px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 10px 5px 5px lightgray;

}

.popular .wrapper2 .hotel {
    width: 500px;
    margin: 10px auto;
    height: 200px;
}

.popular .wrapper2 .hotel .container {
    display: flex;
}

.popular .wrapper2 .hotel .container .pop-img {
    height: 00px;
    margin-right: 10px;
    padding: 0px;
    
}




.wrapper .hotel {
    height: 250px;
}

.buttons {
    display: flex;
    min-width: 100px;
    text-align: center;

    

}

.filter {
    display: flex;
    margin-top: 10px;
    

}

.logo-nav {
    display: flex;
    justify-content: space-between;
}

.fa fa-star {
    margin: 0;
    width: 150px;
}


.checked {
    color: blue;
}

.ikon {
    color: blue;
    background-color: lightskyblue;
    padding: 15px;
    border-radius: 80%;
    
    
    vertical-align: middle;

}

.btn {
    display: flex;
    font-size: 15px;
    border: 1px gray solid;
    border-radius: 25px;
    background-color: white;
    width: 180px;
    margin-left: 5px;
    padding: 0;
    text-align: center;
}

.buttons .btn strong {
    padding: 10px;
    
    vertical-align: middle;
}


.act {
    width: 400px;
    background-color: whitesmoke;
    margin: 30px;
    padding: 0;
    border-radius: 30px;
    height: 200px;
    box-shadow: 10px 5px 5px lightgray;
    
}

.act img {
    width: 100%;
    height: 150px;
    border-radius: 30px 30px 0 0;
}


.wrapper3 {
    display: flex;
    justify-content: center;

    
}

.wrapper3 > .act:nth-child(2n + 1) {
    height: 430px;
    min-width: 400px;
}

.wrapper3 > .act img:nth-child(2n + 1) {
    height: 380px;
    min-width: 400px;
}



.foot {
    display: flex;
    margin: 50px 0 0 0;
    background-color: lightgray;
}

.misc {
    width: 30%;
    margin: 10px 100px 20px 20px;
}

@media screen and (max-width: 768px) {
 
    .wrapper3 {
        flex-direction: column;
    
        
    }

    .wrapper3 > .act:nth-child(2n + 1) {
        height: 200px;
        
    
    }

    .wrapper3 > .act img:nth-child(2n + 1) {
        height: 150px;
        
    
    }

    main .first-half {
        flex-direction: column-reverse;
    }

    .accomodation {
        background-color: white;
        
    }
    
    .popular {
        background-color: white;
    }

    .buttons {
        flex-wrap: wrap;
        margin: 10px;
    }

}
