html {
    box-sizing: border-box;
    font-size: 10px;
    
}

body {
    font-family: "Raleway";
    font-size: 1.5rem;
    width: 100%;
    margin: 0 auto;
}





.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    
}

.accomodation {
    background-color: #F2F2F2;
    width: 62%;
    
    margin: 10px auto;
    border-radius: 30px;
    padding: 10px;
    
}

.popular {
    background-color: #F2F2F2;
    width: 30%;
    margin: 10px auto;
    border-radius: 30px;
    padding: 15px;
}

.popular h2 {
    display: inline-block;
}

.popular i {
    display: inline-block;
    margin-top: 20px;
    padding-right: 20px;
    
}

.popular .most-txt {
    display: flex;
    justify-content: space-between;
    
}


h1  {
    background-color: aquamarine;
    border: 10px solid black;
    max-width: 960px;
}

h3, p, .rating {
    padding: 2px;
    margin: 5px;
}

h3 {
    margin: auto;
    padding: 5px 5px 5px 15px;
}

h2 {
    font-weight: 700;
    margin: auto;
    padding: 5px;
}

.acc-txt p {
    margin: auto;
    padding: 5px 15px; 
}

.acc-txt .rating {
    margin: auto;
    padding: 5px 15px; 
}

.wrapper .hotel  img {
    height: 130px;
    margin-bottom: 10px;
}

.details p {
    margin: auto;
    padding: 10px 15px; 
    height: 50px;
    
}

.details h3 {
    margin-top: 10px;
    height: 40px;
}

.pop-text .rating {
    margin: auto;
    padding: 0px 15px 20px 15px;
}

.show {
    font-weight: 900;
    margin: 20px 10px 15px 35px;
    padding-bottom: 15px;
}


.accomodation h2 {
    padding: 10px;
    margin: 15px 0px 0px 15px;
}

.popular h2 {
    padding: 10px 0px 0px 10px;
    margin: 15px 0px 0px 15px;
}

a {
    text-decoration: none;
}

.logo-nav .logo {
    margin-left: 15px;
    padding: 0;
    display: block;
    
}

.intro-line {
    margin-left: 15px;;
}

.search_wrapper {
    margin: 15px;
}

.search_wrapper .search_field {
    font-weight: 700;
    width: 240px;
}

.filter {
    margin: 15px;
    font-weight: 800;
}

.buttons .btn:hover {
    background-color: #0065FC;
    color: white;
}


.filter .fil {
    margin-right: 30px;
    margin-top: 17px;
    font-size: 18px;
    font-weight: 700;
}

.filter .buttons {
    margin-top: 10px;
}

.filter .buttons .btn {
    margin-right: 15px;
}

.buttons strong {
    font-size: 20px;
}

.more {
    display: flex;
    margin-left: 15px;
    width: 410px;
}


ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    
    
    
}

li a {
    
    display: block;
    text-align: center;
    

}


.nav-item {
    margin: 0;
}



.nav a {
    padding: 20px 30px;
}

.nav a:hover {
    border-top: 2px solid blue;
    opacity: 1.0;
}

img {
    width: 100px;
    height: 50px;
}


.popular .hotel img {
    vertical-align: middle;
    padding: 5px;
    width: 140px;
    height: 150px;
    border-radius: 30px 0 0 30px;
    
}

.hotel img {
    width: 100%;
    height: 120px;
    border-radius: 30px 30px 0 0;
    padding: 0;
}

.search_wrapper {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 15px;
    
  
}

.search_field {
    border-style: none;
    padding: 10px;
    border-radius: 15px 0 0 15px;

}

.search-btn {
    font-size: 20px;
    border-style: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    padding: 15px;
    padding-bottom: 18px;
    margin: 0;
    width: 100px;

    
}

main .first-half {
    display: flex;
}




.accomodation .wrapper .hotel {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 29%;   
    height: 230px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 10px 5px 5px lightgray;

}

.popular .wrapper2 .hotel {
    width: 90%;
    margin: 30px auto;
    height: 160px;
    background-color: white;
    border-radius: 30px;
}

.popular .wrapper2 .hotel .container {
    display: flex;
}

.buttons {
    display: flex;
    min-width: 100px;


}

.filter {
    display: flex;
    margin-top: 10px;
    

}

.logo-nav {
    display: flex;
    justify-content: space-between;
}

.nav-mob {
    display: flex;
}

.fa fa-star {
    margin: 0;
    width: 150px;

}

.fa {
    color: lightgray;
}


.checked {
    color: #0065FC;
}

.mark {
    background-color: lightgray;
    padding: 20px;
    border-radius: 15px 0 0 15px;
}

.infor {
    font-size: small;
    font-weight: lighter;
    color: #0065FC;
    background-color: white;
    padding: 7px;
    margin-right: 5px;
    border-radius: 80%;
    border: 0.5px lightgray solid;
}

.ikon {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 19px;
    border-radius: 80%;
    vertical-align: middle;

}

.btn {
    display: flex;
    font-size: 15px;
    border: 1px lightgray solid;
    border-radius: 28px;
    background-color: white;
    width: fit-content;
    margin-left: 10px;
    padding: 0;
    text-align: center;
}

.buttons .btn strong {
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    margin-right: 5px;
}

.activities h2 {
    margin: 40px 0px 0px 15px;
}

.act {
    width: 85%;
    background-color: white;
    margin: 20px;
    padding: 0;
    border-radius: 30px;
    height: 200px;
    box-shadow: 3px 3px 3px 3px whitesmoke;
    
}

.act img {
    width: 100%;
    height: 130px;
    border-radius: 30px 30px 0 0;
}


.wrapper3 {
    display: flex;
    justify-content: center;
    width: 100%;

    
}

.wrapper3 > .act:nth-child(2n + 1) {
    height: 430px;
    width: 75%;
}

.wrapper3 > .act img:nth-child(2n + 1) {
    height: 370px;
    width: 100%;
}

.wrapper3 h3 {
    padding: 15px;
    font-weight: 700;
}



.foot {
    width: 100%;
    display: flex;
    margin: 50px 0 0 0;
    background-color: lightgray;
}

.misc {
    width: 30%;
    margin: 10px 100px 20px 20px;
}

/* Smartphone */
@media screen and (min-width: 320px) and (max-width: 480px) {
 
    body, html {
        max-width: 100%;
        min-width: 100%;
        margin: 0 auto;
    }


    .intro-line {
        width: 400px;
    }

    .search-wrapper .search_field {
        width: 300px;
    }

    .search_wrapper span {
        size: 5px;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    



    
    
    .wrapper3 {
        flex-direction: column;
        
    
        
    }

    .wrapper3 > .act:nth-child(2n + 1) {
        height: 200px;
        width: 100%;
        
    
    }

    .wrapper3 > .act img:nth-child(2n + 1) {
        height: 150px;
        
        
    
    }

    main .first-half {
        flex-direction: column-reverse;
        min-width: 100%;
        max-width: 100%;
    }

    
    
    .wrapper {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
    }

    .accomodation {
        min-width: 100%;
        max-width: 100%;
    }

    .accomodation .hotel {
        min-width: 90%;
        max-width: 90%;
        
    }


    .popular {
        width: 100%;
        margin: 0 auto; 
        padding: 40px;
        
    }

    .popular .hotel {
        width: 100%;
    }

    .buttons {
        flex-wrap: wrap;
        margin: 10px;
    }


    .act {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 15px;
        
    }

    .activities h2 {
        margin: 0 auto;
        margin-left: 70px;

    }

    .act img {
        width: 100%;
    }

    .wrapper3 > .act:nth-child(2n + 1) {
        width: 90%;
    }

    .foot {
        display: flex;
        flex-direction: column
    }
}

/* Tablet 
@media screen and (max-width: 1024px) {
    main .first-half {
        flex-direction: column;
    }

    .wrapper3 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .activities {
        margin: 0 auto;
    }

    .activities h2 {
        text-align: center;
    }

    .act {
        margin: 0 auto;
    }
} */